# Demo: Using Pandas to Work with Time Data

In [9]:
# Initial imports
import pandas as pd
from pathlib import Path

In [10]:
# Read the S&P 500 CSV data into a DataFrame
df_sp500 = pd.read_csv(Path("../Resources/sp500.csv")) 


# Display the DataFrame
df_sp500.head()

                        time   close
0  2019-01-02 12:45:00+00:00  246.16
1  2019-01-02 13:00:00+00:00  246.15
2  2019-01-02 13:15:00+00:00  245.50
3  2019-01-02 13:30:00+00:00  245.71
4  2019-01-02 13:45:00+00:00  245.76

In [11]:
# Verify the data types using dtypes
df_sp500.dtypes

time      object
close    float64
dtype: object

In [12]:
# Reviewing the time value from index position 0
## REMEMBER THE INDEX IS 0... WHEN NOT DESIGNATED
#df_sp500["time"][0]
#df_sp500["time"][1]
#df_sp500["time"]
#df_sp500.iloc[0]
df_sp500.iloc[0, [0]]

time    2019-01-02 12:45:00+00:00
Name: 0, dtype: object

In [13]:
# Getting the current date and time
pd.to_datetime("today")

Timestamp('2022-07-03 20:49:59.341276')

In [17]:
# Transform the time column to a datetime data type
df_sp500["time"] = pd.to_datetime(df_sp500["time"])
# Verify the data type transformation using the info function
df_sp500.dtypes

time     datetime64[ns, US/Eastern]
close                       float64
dtype: object

In [15]:
# Convert the time column to the US/Eastern timezone
df_sp500["time"] = df_sp500["time"].dt.tz_convert("US/Eastern")

# Verify the data type transformation using the info function
df_sp500.info

<bound method DataFrame.info of                           time   close
0    2019-01-02 07:45:00-05:00  246.16
1    2019-01-02 08:00:00-05:00  246.15
2    2019-01-02 08:15:00-05:00  245.50
3    2019-01-02 08:30:00-05:00  245.71
4    2019-01-02 08:45:00-05:00  245.76
...                        ...     ...
9323 2019-12-30 15:30:00-05:00  321.10
9324 2019-12-30 15:45:00-05:00  321.12
9325 2019-12-30 16:00:00-05:00  321.23
9326 2019-12-30 16:30:00-05:00  321.23
9327 2019-12-30 16:45:00-05:00  321.20

[9328 rows x 2 columns]>

In [16]:
# Review the DataFrame with the new timezone information
df_sp500

                          time   close
0    2019-01-02 07:45:00-05:00  246.16
1    2019-01-02 08:00:00-05:00  246.15
2    2019-01-02 08:15:00-05:00  245.50
3    2019-01-02 08:30:00-05:00  245.71
4    2019-01-02 08:45:00-05:00  245.76
...                        ...     ...
9323 2019-12-30 15:30:00-05:00  321.10
9324 2019-12-30 15:45:00-05:00  321.12
9325 2019-12-30 16:00:00-05:00  321.23
9326 2019-12-30 16:30:00-05:00  321.23
9327 2019-12-30 16:45:00-05:00  321.20

[9328 rows x 2 columns]