# Spring Cleaning!

Harold's stock data is a mess! Help him clean up his data before the auditors arrive!

In [1]:
# Import Libraries
import pandas as pd
from pathlib import Path

### Load CSV data into Pandas using `read_csv`

In [3]:
csv_path = Path("../../Resources/stock_data.csv")
csv_data = pd.read_csv(csv_path)

### Identify the number of rows and columns (shape) in the DataFrame.

In [4]:
csv_data.shape

(504, 14)

### Generate a sample of the data to visually ensure data has been loaded in correctly.

In [5]:
csv_data.sample(5)

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
364,PNW,Pinnacle West Capital,Utilities,74.34,16.06,3.698776,3.95,92.48,73.81,8.397610e+09,1.614399e+09,2.993121,1.65,http://www.sec.gov/cgi-bin/browse-edgar?action...
367,RL,Polo Ralph Lauren Corp.,Consumer Discretionary,101.32,17.74,1.857010,-1.19,119.33,66.06,8.753430e+09,5.061000e+08,1.394876,2.44,http://www.sec.gov/cgi-bin/browse-edgar?action...
179,EXC,Exelon Corp.,Utilities,35.98,14.51,3.817427,1.23,42.67,33.30,3.473482e+10,8.548000e+09,1.393387,1.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
39,AME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,LMT,Lockheed Martin Corp.,Industrials,334.3,24.28,2.315954,6.83,361.79,256.40,9.810212e+10,7.115000e+09,1.878145,45.55,http://www.sec.gov/cgi-bin/browse-edgar?action...

### Identify the number of records in the DataFrame, and compare it with the number of rows in the original file.

In [7]:
csv_data.count()

symbol                504
name                  502
sector                501
price                 500
price_per_earnings    497
dividend_yield        499
earnings_per_share    498
52_week_low           500
52_week_high          500
market_cap            500
ebitda                492
price_per_sales       500
price_per_book        492
sec_filings           500
dtype: int64

### Identify nulls records

In [9]:
csv_data.isnull().sum()

symbol                 0
name                   2
sector                 3
price                  4
price_per_earnings     7
dividend_yield         5
earnings_per_share     6
52_week_low            4
52_week_high           4
market_cap             4
ebitda                12
price_per_sales        4
price_per_book        12
sec_filings            4
dtype: int64

### Drop Null Records

In [12]:
csv_data = csv_data.dropna()

### Validate nulls have been dropped

In [13]:
csv_data.isnull().sum()

symbol                0
name                  0
sector                0
price                 0
price_per_earnings    0
dividend_yield        0
earnings_per_share    0
52_week_low           0
52_week_high          0
market_cap            0
ebitda                0
price_per_sales       0
price_per_book        0
sec_filings           0
dtype: int64

### Default null `ebitda` values to 0. Then, validate no records are null for ebitda.

In [ ]:
### IS THIS A REPLACE TIME???

### Drop Duplicates

In [15]:
csv_data.duplicated()
csv_data = csv_data.drop_duplicates().copy()